.clsBannerScreen {
    overflow: hidden;
    position: relative;
    height: 150px;
    width: 600px;
    border: 1px solid #e1e1e1;
    cursor: pointer;
    clear: both;
}
 
.clsBannerScreen .images {
    position: absolute;
    display: none;
}
ul, li {
    list-style: none;

}
.clsBannerButton {
    width: 600px;
    cursor: pointer;
    border-bottom: 1px solid #e1e1e1;
}
 
.clsBannerButton li {
    width: 110px;
    margin:auto;
    float: left;
    padding: 2px;
    border-right: 1px solid #e1e1e1;
}
 
.clsBannerButton li.fir {
    border-left: 1px solid #e1e1e1;
}
 
.clsBannerButton li.labelOverClass {
    font-weight: bold;
}